*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(248, 242, 248);
    --second-color: rgb(78,38,78);
    --heading-color: rgba(78, 38, 78, 0.589);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans';
}

ul {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}

.custom-image {
    width: 15%;
    max-width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--second-color);
}

header {
    background-color: white;
    width: 100%;
    height: auto;
}

.welcome-container {
    background-color: var(--main-color);
}

.welcome-box {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-container h1 {
    font-weight: bold;
    margin: 20px auto 20px auto;
    color:  var(--heading-color);
}

.welcome-box p {
    line-height: 2em;
    padding-bottom: 20px;
}

.practice-container {
    background-color: var(--heading-color);
}

.practice-scope-box {
    text-align: left;
    color: white;
}

.slideshow-container {
    background-color: rgb(248, 242, 248);
    padding: 40px;
    color: var(--second-color);
}

.slideshow-container h2 {
    color: var(--heading-color);
    margin-bottom: 20px;
}
.review {
    max-width: 70%;
    margin: auto;
    font-style:italic;
    text-align: justify;
    margin-bottom: 10px;
}

.hours-container {
    display: flex;
    justify-content: center;
    margin: 50px 80px;
    height: auto;
}

.hours-box {
    background-color: var(--main-color);
    width: 50%;
    max-width: 100%;
    height: auto;
    display: flex;
}

.business-hours-text {
    line-height: 2em;
    max-width: 100%;
    margin: auto;
}

.craftsimg {
    height: auto;
    width: 50%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .custom-image {
        width: 30%;
    }

    .hours-container {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
    }

    .craftsimg,
    .hours-box {
        width: 100%;
        margin: unset;
    }

    .business-hours-text {
        max-width: 100%;
        padding: 0 10px;

    }

    .business-hours-text h2 {
        padding-top: 20px;
    }
}

.business-hours-text h2 {
    font-size: 2em;
    padding-bottom: 2rem;
    font-weight: bolder;
    color:  var(--heading-color);
}

.main-container {
    background-color: var(--heading-color);
    color: white;
    display: flex;
    padding: 5%;
}

.main-container-text {
    margin: auto;
}

.main-container-text h1 {
    padding-bottom: 10px;
}

.staff-img-container {
    background-color:  var(--main-color);
}

.staff-img {
    width: 10%;
    height: auto;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.staff-container {
    background-color:  var(--main-color);
    display: flex;
}

.staff-container-text {
    margin: auto;
    max-width: 29%;
    line-height: 2rem;
    padding-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    .staff-img {
        width: 30%;
    }

    .staff-container-text {
        max-width: 80%;
    }
}

.staff-container-text p {
    padding-bottom: 5%;
}

.name {
    color: var(--heading-color);
    font-weight: bolder;
    font-size: 22px;
}

.occupational-title {
    font-size: 18px;
}

.description {
    font-size: 15px;
}

.quote {
    font-size: 15px;
}

.approach-container {
    background-color:  var(--main-color);
    color: white;
    display: flex;
    padding-bottom: 50px;
}

.approach-container-text {
    margin: auto;
    color: black;
    max-width: 50%;
    line-height: 2rem;
}

.approach-container-text h1 {
    color: var(--heading-color);
    font-size: 75px;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .approach-container-text h1 {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .approach-container-text {
        font-size: 15px;
        max-width: 80%;
    }
}

.patient-information-img {
    max-width:100%;
    height: auto;
    margin-bottom: 30px;
}

.info-container {
    background-color:  var(--main-color);
    padding-top: 20px;
    line-height: 1rem;
    padding-bottom: 30px;
}

.info-container h1 {
    color: var(--heading-color);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.info-container p {
    font-size: 18px;
    padding-bottom: 40px;
}

.info-container img {
    max-width:40%;
    height: auto;
}

.insurance-container {
    background-color:  var(--main-color);
    display: flex;
    padding-bottom: 100px;
}

.insurance-container-text {
    margin: auto;
    max-width: 50%;
    line-height: 2rem;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .info-container img {
        max-width: 80%;
    }

    .insurance-container-text {
        font-size: 15px;
        max-width: 80%;
    }

    .insurance-container {
        padding-bottom: 60px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    background-color:  var(--main-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-us-container {
    background-color:  var(--main-color);
    width: 25%;
}

.contact-us-container h1 {
    color: var(--heading-color);
    font-size: 40px;
    padding-bottom: 20px;
}

.contact-us-text {
    color: black;
    line-height: 2rem;
    font-size: 15px;
    text-align: left;
}

.form {
    background-color:  var(--main-color);
    width: 25%;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding-top: 10px;
    background-color:  var(--main-color);
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
}

input:valid,
textarea:valid {
    background-color: var(--main-color);
}

textarea {
    height: 100px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--heading-color);
    color: white;
    border: none;
    cursor: pointer;
}

.input-group-full {
    margin-bottom: 15px;
    width: 100%;
}

.contain-map {
    background-color:  var(--main-color);
    padding-top: 30px;
    padding-bottom: 100px;
}

#map {
    width: 50%;
    height: 500px;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .contact-us-container {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    }

    .form-container {
        display: unset;
    }

    .contact-us-text {
        text-align: center;
    }

    .form {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom:30px;
    }

    #map {
        width: 100%;
        margin-left: 0;
        height: 300px;
    }
}

footer {
    padding-bottom: 20px;
}

footer p {
    padding-bottom: 20px;
}

.facebook {
    height: 40px;
    width: 10px;
    padding-bottom: 20px;
}