*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(248, 242, 248);
    --second-color: rgb(78,38,78);
    --heading-color: rgba(78, 38, 78, 0.589);
}

ul {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: var(--second-color);
    font-size: 16px;
    font-family: 'Open Sans';
}

header {
    text-align: center;
    margin-top: 30px;
}

/* Page 1 -HOME */

.title {
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--second-color);
}

.welcome-container {
    background-color: var(--main-color);
}

.welcome-box {
    width: 80%;
    max-width: 750px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}

.welcome-container h1 {
    margin: 20px auto 20px auto;
    color:  var(--heading-color);
}

.welcome-box p {
    line-height: 2em;
}

.practice-container {
    background-color: var(--heading-color);
}

.practice-scope-box {
    color: var(--main-color);
}

.practice-scope-box p {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

.testimonials-container {
    background-color: rgb(248, 242, 248);
    padding: 40px;
}

.testimonials-container h2 {
    color: var(--heading-color);
    margin-bottom: 20px;
}

.review {
    max-width: 60%;
    margin: auto;
    font-style:italic;
    text-align: justify;
    margin-bottom: 10px;
}

.hours-container {
    background-color: var(--heading-color);
    Padding: 40px;
    color: var(--main-color);;
}

.hours-box {
    text-align: center;
}

.hours-box h2 {
    margin-bottom: 20px;
    color:  var(--main-color);
}

.hours-box p {
    margin: auto;
    max-width: 300px;
    padding: 10px;
}

/* PAGE 2 -MEET YOUR THERAPIST */

.clinical-staff-container {
    background-color: var(--main-color);
    color: var(--heading-color);
}

.staff-img-container {
    background-color:  var(--main-color);
    padding-top: 20px;
}

.staff-img {
    border-radius: 50%;
}

.staff-container {
    background-color:  var(--main-color);
}

.staff-container-box {
    margin: auto;
    max-width: 700px;
    height: auto;
    line-height: 2rem;
}

/* PAGE 3 -SERVICES */

.services-container {
    background-color: var(--main-color);
}

.services-box {
    margin: auto;
    max-width: 900px;
}

.services-box h2 {
    color: var(--heading-color);
    text-decoration: underline;
}

/* PAGE 4 -PATIENT INFORMATION */ 

.patient-portal-container {
    background-color:  var(--main-color);
}

.patient-portal-container-text {
    margin: auto;
    max-width: 800px;
    line-height: 2rem;
}

.patient-portal-container-text h2 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.patient-portal-container-text h2 a {
    color: var(--second-color);
}

.patient-portal-container-text h2 a:hover {
    color: var(--heading-color);
}

.patient-information-img {
    margin-bottom: 30px;
}

/* PAGE 5 -INSURANCE */

.info-container h2 {
    color: var(--heading-color);
}

.info-container img {
    max-width: 40%;
    min-width: 350px;
}

.insurance-container-text {
    margin: auto;
    max-width: 700px;
    line-height: 2rem;
}

/* PAGE 6 -FAQS */

.faq-container {
    background-color: var(--main-color);
}

.faq-container h2 {
    color: var(--heading-color);
}

.faq-text .col {
    min-width: 300px;
    max-width: 550px;
    text-align: left;
}

.faq-text p {
    margin: auto;
    margin-bottom: 40px;
}

.faq-text h3 {
    margin: auto;
    margin-bottom: 20px;
}

.faq-question {
    min-height: 65px;
}

/* PAGE 7 -BLOG */


/* PAGE 8 -CONTACT US */

.contact-us-container {
    text-align: left;
}

.contact-us {
    color: var(--second-color);
    line-height: 2rem;
}

.contact-us-header {
    color: var(--heading-color);
    text-align: center;
}

.contact-description {
    max-width: 330px;
}

.contact-us-info {
    padding: 10px;
    margin: auto;
}

#map {
    max-width: 500px;
    min-height: 474px;
    border-radius: 10px;
    margin: auto;
}

#contact-form {
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    max-width: 500px;
    text-align: left;
}

#contact-form label {
    font-size: 18px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

textarea {
    height: 100px;
}

input:focus, textarea:focus {
    background-color: var(--main-color);
}

#contact-form button {
    width: 100%;
    background-color: var(--heading-color);
    color: var(--main-color);
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: var(--heading-color);
}

/* FOOTER */

footer {
    text-align: center;
}

.facebook {
    height: 40px;
    width: 10px;
    padding-bottom: 16px;
}