*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(248, 242, 248);
    --second-color: rgb(78,38,78);
    --heading-color: rgba(78, 38, 78, 0.589);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans';
}

ul {
    list-style: none;
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}

.custom-image {
    width: 15%;
    max-width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--second-color);
}

header a {
    text-decoration: none;
}

header {
    background-color: var(--main-color);
    height: 50px;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav ul a,
nav ul a {
    color: var(--second-color);
}

.mobile-nav ul li,
nav ul li {
    padding: 10px;
    margin-left: 10px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-color);
    min-width: 150px;
    border-radius: 5px;
    text-align: center;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: bold;
}

.mobile-nav ul li:hover .sub-menu,
nav ul li:hover .sub-menu {
    display: inherit;
}

#hamburger-icon {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: var(--second-color);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}

.mobile-menu {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    background-color: var(--main-color);
}


@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
}

.welcome-container {
    background-color: var(--main-color);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 80px;
}

.welcome-container h1 {
    font-size: 60px;
    font-weight: bolder;
    margin: 20px auto 20px auto;
    color:  var(--heading-color);
}

.welcome-container p {
    line-height: 2em;
    max-width:42%;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .welcome-container h1 {
        font-size: 50px;
    }

    .welcome-container {
        padding-top: 5px;
        padding-bottom: 30px;
    }
    .welcome-container p {
        max-width:70%;
    }
}

.media-container {
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    height: auto;
}

.media-container img {
    width: 35%;
    height: auto;
    max-width: 100%;
    animation: scrollImages 15s ease-in-out infinite;
    transition-delay: 10s;
} 

@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}

@media only screen and (max-width: 600px) {
    .media-container img {
        width: 60%;
        height: auto;
    }
}

.practice-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 50px 80px;
    height: auto;
}

.tableimg {
    height: auto;
    width: 50%;
    max-width: 100%;
}

.practice-scope-box {
    width: 50%;
    max-width: 100%;
    height: auto;
    background-color: var(--heading-color);
    display: flex;
}

.practice-scope-text {
    line-height: 1.5em;
    max-width: 80%;
    margin: auto;
    text-align: left;
    color: white;
}

.practice-scope-text p {
    padding: 20px;
}

.practice-scope-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    .practice-container {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
    }

    .tableimg,
    .practice-scope-box {
        width: 100%;
        margin: unset;
    }

    .practice-scope-text {
        max-width: 100%;
        padding: 0 10px;
    }
}

.slideshow-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    min-height: 350px;
    background-color: rgb(248, 242, 248);
}

.containers {
    display: none;
}

.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 46%;
    width: auto;
    margin-top: -22px;
    padding: 0 75px;
    color:  var(--heading-color);
    font-size: 40px;
    transition: 0.5s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  .forward {
    right: 1rem;
  }

  .back {
    left: 1rem;
  }

  .back:hover, .forward:hover {
    color: var(--second-color);
  }

  .info {
    text-align: center;
    padding-top: 30px;
  }

  .quotation-mark {
    font-size: 100px;
    color: var(--main-color);
    -webkit-text-stroke: 2px var(--second-color);
    font-family: 'BIZ UDPGothic', sans-serif;
    margin: 0;
  }

  .review {
    max-width: 60%;
    margin: auto;
    font-size: 16px;
    font-style:italic;
  }

  .review-name {
    font-size: 17px;

  }

  .dot-style {
    text-align: center; 
    padding-bottom: 20px; 
    position: absolute; 
    bottom: 5%; 
    left: 48.5%;
  }

  @media only screen and (max-width: 600px) {
    .slideshow-container {
        height:500px;
    }

    .back, .forward {
        padding: 0 10px;
        font-size: 30px;
    }

    .dot-style {
        left: 45%;
    }
  }

  .dots {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background-color: var(--second-color);
    border-radius: 50%;
    border: 2px solid var(--second-color);
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .enable, .dots:hover {
    background-color: var(--main-color);
    border-color: var(--second-color);
  }

.hours-container {
    display: flex;
    justify-content: center;
    margin: 50px 80px;
    height: auto;
}

.hours-box {
    background-color: var(--main-color);
    width: 50%;
    max-width: 100%;
    height: auto;
    display: flex;
}

.business-hours-text {
    line-height: 2em;
    max-width: 100%;
    margin: auto;
}

.craftsimg {
    height: auto;
    width: 50%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .custom-image {
        width: 30%;
    }

    .hours-container {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
    }

    .craftsimg,
    .hours-box {
        width: 100%;
        margin: unset;
    }

    .business-hours-text {
        max-width: 100%;
        padding: 0 10px;

    }

    .business-hours-text h2 {
        padding-top: 20px;
    }
}

.business-hours-text h2 {
    font-size: 2em;
    padding-bottom: 2rem;
    font-weight: bolder;
    color:  var(--heading-color);
}

.main-container {
    background-color: var(--heading-color);
    color: white;
    display: flex;
    padding: 5%;
}

.main-container-text {
    margin: auto;
}

.main-container-text h1 {
    padding-bottom: 10px;
}

.staff-img-container {
    background-color:  var(--main-color);
}

.staff-img {
    width: 10%;
    height: auto;
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.staff-container {
    background-color:  var(--main-color);
    display: flex;
}

.staff-container-text {
    margin: auto;
    max-width: 29%;
    line-height: 2rem;
    padding-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    .staff-img {
        width: 30%;
    }

    .staff-container-text {
        max-width: 80%;
    }
}

.staff-container-text p {
    padding-bottom: 5%;
}

.name {
    color: var(--heading-color);
    font-weight: bolder;
    font-size: 22px;
}

.occupational-title {
    font-size: 18px;
}

.description {
    font-size: 15px;
}

.quote {
    font-size: 15px;
}

.approach-container {
    background-color:  var(--main-color);
    color: white;
    display: flex;
    padding-bottom: 50px;
}

.approach-container-text {
    margin: auto;
    color: black;
    max-width: 50%;
    line-height: 2rem;
}

.approach-container-text h1 {
    color: var(--heading-color);
    font-size: 75px;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .approach-container-text h1 {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .approach-container-text {
        font-size: 15px;
        max-width: 80%;
    }
}

.patient-information-img {
    max-width:100%;
    height: auto;
    margin-bottom: 30px;
}

.info-container {
    background-color:  var(--main-color);
    padding-top: 20px;
    line-height: 1rem;
    padding-bottom: 30px;
}

.info-container h1 {
    color: var(--heading-color);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.info-container p {
    font-size: 18px;
    padding-bottom: 40px;
}

.info-container img {
    max-width:40%;
    height: auto;
}

.insurance-container {
    background-color:  var(--main-color);
    display: flex;
    padding-bottom: 100px;
}

.insurance-container-text {
    margin: auto;
    max-width: 50%;
    line-height: 2rem;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .info-container img {
        max-width: 80%;
    }

    .insurance-container-text {
        font-size: 15px;
        max-width: 80%;
    }

    .insurance-container {
        padding-bottom: 60px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    background-color:  var(--main-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-us-container {
    background-color:  var(--main-color);
    width: 25%;
}

.contact-us-container h1 {
    color: var(--heading-color);
    font-size: 40px;
    padding-bottom: 20px;
}

.contact-us-text {
    color: black;
    line-height: 2rem;
    font-size: 15px;
    text-align: left;
}

.form {
    background-color:  var(--main-color);
    width: 25%;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding-top: 10px;
    background-color:  var(--main-color);
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
}

input:valid,
textarea:valid {
    background-color: var(--main-color);
}

textarea {
    height: 100px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover {
    border: 1px solid black;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--heading-color);
    color: white;
    border: none;
    cursor: pointer;
}

.input-group-full {
    margin-bottom: 15px;
    width: 100%;
}

.contain-map {
    background-color:  var(--main-color);
    padding-top: 30px;
    padding-bottom: 100px;
}

#map {
    width: 50%;
    height: 500px;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .contact-us-container {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    }

    .form-container {
        display: unset;
    }

    .contact-us-text {
        text-align: center;
    }

    .form {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom:30px;
    }

    #map {
        width: 100%;
        margin-left: 0;
        height: 300px;
    }
}

footer {
    padding-bottom: 20px;
}

footer p {
    padding-bottom: 20px;
}

.facebook {
    height: 40px;
    width: 10px;
    padding-bottom: 20px;
}